/* .design-nav {
    position: fixed;
    top: 0px;
    height: 70px;
    border-bottom: 2px solid cyan;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    border-radius: 0px 0px 100% 100%;
    backdrop-filter: blur(4px);
    z-index: 10;
} */

.navlinks {
    text-decoration: none;
    color: #fff;
    width: 500px;
}
.active {
    font-weight: 600;
}